    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: sans-serif;
    }
    
    .container {
        width: 1442px;
        margin: 0 auto;
    }
    @font-face{
        font-family: "ChunkFive";
        src: url("../fonts/ChunkFive.ttf");
    }

    .slider {
        height: 737px;
        background: #9bddd8 url(../img/Malang.jpg) no-repeat;
    }
    
    .slider .header {
        padding: 35px 137px 0 137px;
        min-height: 86px;
        background-image: url(../img/shadow-top.png);
    }
    
    .slider .header .logo {
        display: inline;
    }
    
    .slider .header .logo a {
        text-decoration: none;
        font-family: Montserrat;
        color: #ffffff;
        font-size: 1.574em;
        font-weight: 400;
    }
    
    .slider .header .logo .bold {
        font-weight: 700;
    }
    
    .slider nav.main-menu {
        display: inline-block;
        float: right;
        width: 700px;
    }
    
    .slider nav.main-menu .profile {
        float: right;
    }
    
    .slider nav.main-menu .profile-menu {
        float: right;
        width: 10px;
        height: 10px;
        background: url(../img/triangle.png) no-repeat 50% 50%;
        margin-top: 16px;
    }
    
    .slider nav.main-menu .avatar {
        border-radius: 50px;
    }
    
    .slider nav.main-menu li {
        display: inline-block;
        list-style: none;
    }
    
    .slider nav.main-menu a {
        height: 42px;
        padding: 15px 15px;
        margin-right: 25px;
        text-decoration: none;
        font-family: Lato;
        color: #ffffff;
        font-size: 0.876em;
        font-weight: 500;
        text-align: center;
        border: 3px solid transparent;
    }
    
    .slider nav.main-menu li a:hover {
        border: 3px solid #ffffff;
        border-radius: 30px;
    }
    
    .slider nav.main-menu .profile a {
        display: inline-block;
        padding: 0;
        margin: -15px 0 0 0;
    }
    
    .slider .slogan {
        clear: both;
        margin-top: 109px;
        font-family: ChunkFive;
        color: #ffffff;
        text-align: center;
    }
    
    .slider .slogan h1 {
        font-size: 5.005em;
        font-weight: 400;
    }
    
    .color-green {
        color: #01a2a6;
    }
    .light-green-text {
        color: #29d9c2;
    }
    
    .slider .slogan .text-slogan {
        font-family: Lato;
        color: #fafafa;
        font-size: 1.125em;
        font-weight: 400;
        line-height: 2;
    }
    
    .slider .button {
        margin: 30px 609px;
        background-color: #ffffa6;
        width: 222px;
        height: 74px;
        border-radius: 35px;
        -moz-border-radius: 35px;
        /* Firefox */
        -webkit-border-radius: 35px;
        /* Safari 4 */
        /* border: none;*/
        font-family: Lato;
        color: #10273d;
        font-size: 0.999em;
        font-weight: 900;
        outline: none;
    }
    
    .slider .button:hover {
        background-color: #fbf6a3;
    }
    
    .slider .button:active {
        background-color: #f5e99e;
    }
    
    .about .box_about {
        width: 1230px;
        height: 380px;
        margin: -44px 135px 108px 135px;
        background-color: rgba(255, 255, 255, 0.9);
        background-size: 100%;
    }
    
    .about .city {
        margin: 120px 97px 0 52px;
        float: left;
    }
    
    .head {
        font-family: ChunkFive;
        font-size: 3.749em;
        font-weight: 400;
    }
    
    .about .head {
        padding: 151px 0 37px 0;
        text-align: left;
    }
    
    .text {
        font-family: Lato;
        color: #777777;
        font-size: 0.999em;
        font-weight: 400;
        text-align: left;
    }
    
    .destination {
        background: #f2fefe;
    }
    
    .destination .head {
        display: inline-block;
        padding: 69px 236px;
    }
    
    .destination .info {
        display: inline-block;
        float: right;
        margin: 92px 240px 0 0;
        font-family: Lato;
        color: #aeaeae;
        font-size: 0.999em;
        font-weight: 500;
    }
    
    .destination .info .icon {
        margin-left: 8px;

    }
    .destination .info .icon, .destination .info .basic{
    display: inline-block;
    vertical-align: middle;
    }
    .destination .info .basic {
        text-decoration: none;
    }
    .destination .info .basic:visited{
        color: #aeaeae;
    }
    .destination .text {
        padding: 0px 236px 67px 236px;
        width: 664px;
    }
    .destination form {
      position: relative;
      width: 300px;
      margin: 0px 236px 0px 236px;
    }
    .destination input.search {
        padding-left: 10px;
        border-style: solid;
        border-width: 1px;
        border-color: #e8e8e8;
        border-radius: 30px;
        background-color: #ffffff;
        width: 234px;
        height: 35px;
    }
    input {
        outline:none;
    }
    .destination input.search:focus{
        border: 1px solid #01a2a6;
        border-radius: 30px;
    }
    .destination button {
      height: 26px;
      width: 26px;
      position: absolute;
      top: 4px;
      right: 80px;
      background: url(../img/Search.png) no-repeat;
      background-position: 10px 5px;
      cursor: pointer;
      border: none;
    }
    .destination button.search:focus{
        border: none;
    }
    .destination button.search:active{
        border: none;
    }
    
    .destination .switch-place {
        display: inline-block;
        float: right;
        margin-top: -30px;
        margin-right: 234px;
        font-family: Lato;
        color: #777777;
        font-size: 0.999em;
        font-weight: 900;
    }
    
    .destination .all-place {
        display: inline-block;
    }
    
    .destination .recommend-place {
        display: inline-block;
        color: #aeaeae;
    }
    
    .destination .place-1 {
        position: relative;
        width: 1170px;
        height: 517px;
        background-image: url(../img/batu.jpg);
        margin: 20px 135px 35px 135px;
    }
    
    .see-more a {
        display: inline-block;
        position: absolute;
        font-family: Lato;
        font-size: 0.999em;
        font-weight: 700;
        text-decoration: none;
        color: #f6f6f6;
    }
    
    .destination .place-1 .see-more a {
        left: 565px;
        top: 471px;
    }
    
    .destination .place-1 .description {
        float: right;
        width: 467px;
        height: 467px;
        background: url(../img/transparent-white.png) no-repeat;
        padding: 50px 0px 0 43px;
    }
    
    .destination .place-1 .icon {
        width: 86px;
        height: 89px;
        background-image: url(../img/icon-place1.png);
    }
    
    .head-3 {
        padding-top: 12px;
        line-height: 2;
        color: #01a2a6;
        font-size: 1.874em;
        font-weight: 300;
    }
    
    .destination .place-1 .text {
        width: 374px;
        padding: 0;
    }
    
    .destination .place-2 {
        float: left;
        position: relative;
        width: 669px;
        height: 361px;
        background-image: url(../img/bromo.jpg);
        margin: 20px 32px 35px 135px;
    }
    
    .destination .place-2 .see-more a {
        left: 560px;
        top: 310px;
    }
    
    .destination .place-2 .description {
        float: left;
        width: 467px;
        height: 311px;
        background: url(../img/transparent-white-right.png) no-repeat;
        padding: 50px 0px 0 43px;
    }
    
    .destination .place-2 .icon {
        width: 107px;
        height: 53px;
        background-image: url(../img/icon-mount.png);
    }
    
    .destination .place-2 .text {
        width: 272px;
        padding: 0;
    }
    
    .destination .place-3 {
        float: left;
        position: relative;
        width: 471px;
        height: 361px;
        background-image: url(../img/beach.jpg);
        margin: 20px 0px 35px 0px;
    }
    
    .destination .place-3 .see-more a {
        left: 362px;
        top: 310px;
    }
    
    .destination .pages {
        clear: both;
        margin: 0px 602px 0px 602px;
        /* отступ сверху не сработал*/
        padding-bottom: 83px;
        padding-top: 77px;
        font-family: ChunkFive;
        font-weight: 400;
        white-space: nowrap;
    }
    
    .destination .pages a {
        display: inline-block;
        width: 13px;
        height: 14px;
        padding: 0 10px;
        /* почему картинка класса next отображается в паддинге, а не основном блоке?(если смотреть через отладчик)*/
        font-family: ChunkFive;
        color: #acacac;
        font-size: 18.02px;
        font-weight: 400;
        line-height: 9.895px;
        text-align: left;
        text-decoration: none;
        text-align: center;
        vertical-align: middle;
    }
    
    .destination .pages .current {
        color: #01a2a6;
        font-size: 23.99px;
    }
    
    .destination .pages .next {
        background: url(../img/Forward.png) no-repeat 0 0;
        padding-bottom: 5px;
        margin-left: 5px;
    }
    
    .destination .pages .final {
        background: url(../img/Forward2.png) no-repeat 0 0;
        padding-bottom: 5px;
    }
    
    .set_ittinery {
        text-align: center;
        padding-top: 72px;
        margin-bottom: 57px;
    }
    
    .set_ittinery .head {
        text-align: center;
        padding-bottom: 58px;
    }
    
    .set_ittinery .text {
        text-align: center;
        font-family: Lato;
    }
    
    .set_ittinery .compiled,
    .set_ittinery .right_column {
        margin-top: 142px;
        height: 714px;
        width: 50%;
        display: inline-block;
    }
    
    .set_ittinery .heading {
        padding-top: 30px;
        min-height: 44px;
        font-family: Lato;
        font-size: 1.125em;
        font-weight: 900;
        line-height: 9.895px;
    }   
    .set_ittinery .compiled .heading {
        background-image: url(../img/green-mount.jpg);
        color: #ffffff;
    }
    .set_ittinery .box{
        min-height: 567px;
        border-radius: 5px;
        padding: 28px 36.5px 36.5px 36.5px;
    }
    .set_ittinery .compiled .box {
        background-color: #ffffa6;
    }
    
    .set_ittinery .compiled .field {
        height: 70px;
        border: 1px solid #d5d57d;        
        border-radius: 5px;
        background-color: #ffffff;
    }
    
    .set_ittinery .compiled .field .block-icon {
        width: 6em;
        height: 4.4em;
        line-height: 4.4em;
        float: left;
    }
    
    .set_ittinery .compiled .field .icon {
        vertical-align: middle;
        max-height: 48px;
        max-width: 63px;
        padding: 8px;
    }
    
    .set_ittinery .compiled .day {
        float: left;
        font-family: Lato;
        font-size: 0.999rem;
        font-weight: 900;
        line-height: 0.619;
    }

    .set_ittinery .compiled .day1 {
        margin-bottom: 18px;
    }
    
    .set_ittinery .compiled .date {
        float: right;
        min-width: 120px;
        font-family: Lato;
        font-size: 0.999rem;
        font-weight: 800;
        background-color: transparent;
        border: none;
    }
    
    .set_ittinery .compiled .date1 {
    }
    
    .set_ittinery .compiled .field {
        clear: both;
        position: relative;
        z-index: 10;
    }
    
    .set_ittinery .compiled .form-text {
        float: left;
        width: 340px;
        height: 70px;
        border: none;
        padding: 0 15px;
        font-family: Lato;
        color: #626262;
        font-size: 1.501rem;
        font-weight: 300;
        line-height: 0.412;
    }
    
    .set_ittinery .compiled .field .time {
        float: right;
        width: 90px;
        padding-top: 30px;
        padding-right: 10px;
        font-family: Lato;
        color: #a8a8a8;
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 0.55;
        text-align: center;
    }
    
    .set_ittinery .compiled .add-block {
        float: right;
        width: 197px;
        height: 44px;
        margin-right: 9px;
        margin-top: -5px;
        border-radius: 5px;
        background-color: #f4e79d;
        font-family: Lato;
        color: #d8cb7d;
        font-size: 0.999rem;
        font-weight: 800;
        line-height: 44px;
    }
    
    .set_ittinery .compiled .add-button {
        display: inline-block;
        width: 22px;
        height: 22px;
        margin-left: 5px;
        padding-top: 2.5px;
        background: url(../img/add.png) no-repeat;
        vertical-align: middle;
    }
    
    .set_ittinery .compiled .add-text {
        display: inline-block;
        vertical-align: middle;
        padding-top: 2.5px;
    }
    
    .set_ittinery .compiled .field-2 {
        margin-top: 54px;
    }
    
    .set_ittinery .compiled .additional-features {
        float: right;
        width: 568px;
        margin-right: 9px;
        margin-top: -5px;
        border-radius: 5px;
        background-color: #f5e99e;
        height: 107px;
    }
    
    .set_ittinery .compiled .additional-features .text {
        height: 50px;
        text-align: left;
        font-family: Lato;
        color: #aea25c;
        font-size: 0.999rem;
        font-weight: 700;
        margin: 0 18px;
        padding: 0 11px;
        line-height: 50px;
    }
    
    .set_ittinery .compiled .additional-features .text1 {
        border-bottom: 1px solid #d8cb7d;
        vertical-align: middle;
        padding-top: 5px;
    }
    
    .set_ittinery .compiled .day2 {
        clear: both;
        margin-top: 51px;
    }
    
    .set_ittinery .compiled .date2 {
        margin-top: 31px;
    }
    
    .set_ittinery .compiled .drag-destination {
        clear: both;
        padding: 30px 0;
        border: 3px dashed #e8e897;
        border-radius: 5px;
        color: #d8cb7d;
        vertical-align: middle;
        background-color: rgba(245, 233, 158, 0.41);
    }
    
   
    .button {
        float: right;
        border-radius: 30px;
        color: #fff;
        display: inline-block;
        font-size: 16px;
        font-size: 0.999em;
        font-family: Lato;
        padding: 25px 21px;
        margin-top: 20px;
        text-transform: uppercase;
    }
    
   .set_ittinery .compiled .button-icon_save {
        background: url(../img/print.png) transparent 0 0 no-repeat;
        background-size: contain;
        display: inline-block;
        height: 22px;
        width: 24px;
        vertical-align: middle;
        padding-right: 3px;
    }
    
    .set_ittinery .compiled .button-icon_print {
        background: url(../img/save-as.png) transparent 0 0 no-repeat;
        background-size: contain;
        display: inline-block;
        height: 20px;
        width: 18px;
        vertical-align: middle;
        padding-right: 3px;
    }
    
   .set_ittinery .compiled .button-save {
        margin-right: 25px;
        background-color: #bdf271;
    }
    
   .set_ittinery .compiled .button-print {
        background-color: #28d7c1;
    }
    
   .set_ittinery .compiled .button-print:hover {
        background-color: #bdf271;
    }

   .set_ittinery .right_column{
        float: right;
    }
   .set_ittinery .right_column .sort p{
        float: left;
        font-family: Lato;
        font-size: 0.999rem;
        font-weight: 900;
        line-height: 0.619;
    }
    .sort_by {
        color: #bcbcbc;
        font-weight: 500;
    }
   .set_ittinery .right_column .search{
        float: right;
    }
    .set_ittinery .right_column .field {
        position: relative;
        margin-bottom: 17px;
        clear: both;
        height: 46px;
        border: 1px solid #e8e8e8;     
        border-radius: 5px;
        box-shadow: 0 3px 10px -3px #e8e8e8;
        background-color: #ffffff;
        padding: 12px;
    }
    .set_ittinery .right_column .blocks {
        margin-top: 27px;
    }

    .set_ittinery .right_column .name_destination{
        float: left;
        margin-top: 5px;
        font-family: Lato;
        color: #626262;
        font-size: 1.501rem;
        font-weight: 300;
        line-height: 0.412;
    }
    .set_ittinery .right_column .time {
        clear: both;
        float: left;
        padding-top: 18px;
    }
    .set_ittinery .right_column .name-time{
        font-family: Lato;
        color:  #b9b9b9;
        font-size: 0.876rem;/* Приближение из-за подстановки шрифтов */
        font-weight: 300;
        line-height: 0.706;/* Приближение из-за подстановки шрифтов */
        text-align: center;
    }
    .set_ittinery .right_column .result-time{
        color:  #23c6b6;
        font-size: 0.876rem;/* Приближение из-за подстановки шрифтов */
        font-weight: 500;
        line-height: 0.706;/* Приближение из-за подстановки шрифтов */
        text-align: center;
    }
    .set_ittinery .right_column .block-icon{
        float: right;
        width: 6em;
        position: absolute;
        top: 4px;
        right: 0;
    }
    .set_ittinery .right_column .icon{
        max-width: 63px;
    }
    .set_ittinery .right_column .details{
        .font-size: 0.876rem;/* Приближение из-за подстановки шрифтов */
        font-weight: 600;
        line-height: 0.706;/* Приближение из-за подстановки шрифтов */
        text-align: center;
        top: 44px;
        right: 7px;
        float: right;
        position: absolute;
    }

    .contact {
        background-image: url(../img/map_feedback.jpg);
    }
    .contact h1{
        padding-top: 89px;
        padding-bottom: 111px;
        text-align: center;
        font-family: ChunkFive;
        color:  #ffffff;
        font-size: 4.187rem;/* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        line-height: 0.148;
    }
    .contact .form_feedback {
        width: 36%;
        float: left;
        padding-left: 9%;
    }
    .contact .form_feedback #email_field {
        height: 55px;
        width: 444px;
        border-radius: 5px;
        padding-left: 25px;
    }
    .contact .form_feedback #company_field{
        padding-left: 25px;
        border-radius: 5px;
        margin-top: 21px;
        margin-right: 11px;
        width: 200px;
        height: 55px;
    }
    .contact .form_feedback #subject_field{
        padding-left: 25px;
        border-radius: 5px;
        margin-top: 21px;
        width: 200px;
        height: 55px;
    }
    .contact .form_feedback #messages_field{
        margin-top: 20px;
        height: 76px;
        width: 445px;
        max-width: 446px;
        border-radius: 5px;
        padding-left: 25px;
        padding-top: 20px;
    }
    .contact .button {
        border-radius: 30px;
        background-color:  #c3f37f;
        margin-right: 45px;
        margin-bottom: 71px;
    }

    .contact .or {
        float: left;
        width: 10%;
        font-family: Montserrat;
        color:  #ffffff;
        font-size: 0.875rem;/* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        line-height: 1.714;/* Приближение из-за подстановки шрифтов */
        text-align: center;
    }
    .contact .info {
        width: 45%;
        float: left;
        font-family: Lato;
        color:  #ffffff;
        font-weight: 300;
        
        
    }
    .contact .info .heading {
        font-size: 2.764rem;/* Приближение из-за подстановки шрифтов */
    }
    .contact .info .blocks_address {
        margin-top: 64px;
        line-height: 1.333;
    }
    .contact .info .blocks_address {
          position: relative;
    }
    .contact .info .blocks_address div.address:before {
        content: "";
        display: block;
        position: absolute;
        background: url(../img/home.png);
        width: 13px;
        height: 11px;
        top: 5px;
        left: -20px;
    }
    .contact .info .blocks_address .find {
        font-family: Lato;
        color:  #fff772;
        font-size: 0.75rem;/* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        text-align: left;
    }
    .contact .info .phone {
        margin-top: 19px;
        position: relative;
    }
    .contact .info .phone span:before {
        content: "";
        display: block;
        position: absolute;
        background:url(../img/user.png);
        width: 13px;
        height: 13px;
        top: 4px;
        left: -20px;
    }
    .contact .clearfix {
        clear:both;
    }
    .subscribe {
        background: #b0e467;
    }
    .subscribe .text_block {
        padding-left: 9.5%;
        color: #ffffff;
        font-weight: 400;
        float: left;
        width: 40.5%;
        padding-bottom: 55px;
    }
    .subscribe .text_block .heading{
        padding: 62px 0 13px 0;
        font-family: ChunkFive;
        font-size: 4.187rem;/* Приближение из-за подстановки шрифтов */
    }
    .subscribe .text_block .text{
        font-family: Lato;
        font-size: 0.999rem;
        color: #ffffff;
    }
    .subscribe .form{
        display: inline-block;
        width: 45%;
        padding-left: 5%;
        position: relative;
    }
    
    .subscribe .form input {
        width: 441px;
        height: 72px;
        margin-top: 66px;
        padding-left: 30px;
        border-radius: 5px;
        border: 1px solid #7ca83f;
        font-size: 16pt;
        font-family: Lato;
        font-style: italic;
    }
    .subscribe .clearfix {
        clear:both;
    }
    .subscribe .form .button {
        position: absolute;
        top: 47px;
        right: 174px;
        width: 30px;
        height: 23px;
        background: #01a2a6;
        border-radius: 5px;
    }
    .subscribe .form .button img {
        padding-left: 8px;
    }
    footer .wrap{
        height: 249px;
        background-color:  #2f2933;
        background: url(../img/mountains.png) #2f2933;
        padding-top: 25px;
    }
    footer .documents{
        font-family: Lato;
        font-size: 0.749rem;/* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        margin-left: 136px;
    }
    footer .documents li{
        display: inline-block;
        list-style-type: circle;
        float: left;
        
    }
    footer li a{
        display: block;
        text-decoration: none;
        color:  #5d5b5b;
    }
    footer li a:visited{
        color:  #5d5b5b;
    }
    footer .social_block {
        float: right;
        margin-right: 134px;
    }
    footer .social_block .social {
        margin-left: 11px;
        display: inline-block;
        width: 30px;
        height: 30px;
        background: url(../img/soc_icon_dark.png);
    }
    footer .social_block .social-fb {
        background-position: 0px 0px;
    }
    footer .social_block .social-tw {
        background-position: 70px 0px;
    }
    footer .social_block .social-insta {
        background-position: 30px 0px;
    }
    footer .copyright{
        margin-top: -13px;
        font-family: Lato;
        color:  #aeaeae;
        font-size: 0.749rem;/* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        line-height: 0.825;/* Приближение из-за подстановки шрифтов */
        text-align: center;
    }
    footer .line_color {
        height: 18px;
        margin-top: 3px;
        background: linear-gradient(to right, #ffffa6 20%, #bdf271 20%, #bdf271 40%, #29d9c2 40%, #29d9c2 60%, #01a2a6 60%,#01a2a6 80%, #2f2933 80%);
    }
